div.header {
  height: 46px;
  background: #4a90e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.content {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
}

div.profile {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-right: 40px;
}
